Repository sy00188/666: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov 配置文件
# 文档: https://docs.codecov.com/docs/codecov-yaml

# 覆盖率目标配置
coverage:
  precision: 2  # 精度：保留两位小数
  round: down   # 向下取整
  range: "70...100"  # 覆盖率范围：70%-100%为绿色

  status:
    # 项目整体覆盖率检查
    project:
      default:
        target: 70%  # 整体目标：70%
        threshold: 5%  # 允许下降5%
        if_ci_failed: error  # CI失败时的行为
      
      # 后端覆盖率检查
      backend:
        target: 80%  # 后端目标：80%
        threshold: 3%  # 允许下降3%
        flags:
          - backend
        paths:
          - "src/main/java/"
      
      # 前端覆盖率检查
      frontend:
        target: 50%  # 前端初期目标：50%（第4-5周提升至70%）
        threshold: 5%  # 允许下降5%
        flags:
          - frontend
        paths:
          - "frontend/src/"
    
    # Patch（新增代码）覆盖率检查
    patch:
      default:
        target: 70%  # 新增代码目标：70%
        threshold: 10%  # 允许下降10%
    
    # 变更覆盖率检查
    changes:
      default:
        target: 70%
        threshold: 5%

# PR 评论配置
comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default  # 默认行为：总是评论
  require_changes: false  # 即使没有变化也评论
  require_base: false  # 不需要base分支
  require_head: true  # 需要head分支
  branches:
    - "main"
    - "develop"

# 忽略文件配置
ignore:
  - "**/*Test.java"
  - "**/*Tests.java"
  - "**/test/**"
  - "**/__tests__/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/node_modules/**"
  - "**/target/**"
  - "**/build/**"
  - "**/dist/**"
  - "**/*.d.ts"
  - "**/main.ts"
  - "**/router/index.ts"
  - "**/vite.config.ts"
  - "**/vitest.config.ts"
  - "**/playwright.config.ts"

# Flags 配置（用于区分不同的测试套件）
flags:
  backend:
    paths:
      - src/main/java/
    carryforward: true  # 如果当前构建没有此flag，使用上次的结果
  
  frontend:
    paths:
      - frontend/src/
    carryforward: true

# GitHub Checks 配置
github_checks:
  annotations: true  # 在PR中显示注释

# Codecov AI 配置（可选）
codecov:
  require_ci_to_pass: true  # 要求CI通过才能合并
  notify:
    after_n_builds: 2  # 等待2个构建完成后再通知（后端+前端）
    wait_for_ci: true  # 等待CI完成

# 解析器配置
parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

# 通知配置（可选）
# 如果需要Slack/Email通知，可以在Codecov网站上配置

feat: 完成第1周测试体系建设(任务1.1-1.4)
  .github/workflows/ci.yml
  codecov.yml
  frontend/.gitignore
  frontend/components.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/__tests__/HelloWorld.spec.ts
  frontend/src/stores/__tests__/user.spec.ts
  frontend/src/test-utils/index.ts
  frontend/src/test-utils/mocks.ts
  frontend/src/utils/__tests__/formatter.spec.ts
  frontend/vitest.config.ts
  pom.xml
  simple_backend.py
  任务文件-第1周测试体系建设.md
  实施计划与行动方案.md
  测试规范文档.md
  项目完善建议报告.md
Due: frontend

feat: 完成权限管理模块的配置与实现
  frontend/vitest.config.ts
  pom.xml
  src/main/java/com/archive/management/config/PermissionSyncConfig.java
  src/main/java/com/archive/management/event/PermissionChangedEvent.java
  src/main/java/com/archive/management/sync/AnnotationPermissionScanner.java
  src/main/java/com/archive/management/sync/ConfigPermissionReader.java
  src/main/java/com/archive/management/sync/PermissionDefinition.java
  src/main/java/com/archive/management/sync/PermissionDiffCalculator.java
  src/main/resources/permissions.yml
  src/test/java/com/archive/management/BaseTest.java
  src/test/java/com/archive/management/factory/CategoryTestDataFactory.java
  任务1.4-CI-CD集成测试-完成报告.md
  任务文件-第1周测试体系建设.md
Due: backend

feat: 完成测试体系建设 - 第1周成果
  frontend/src/composables/useAdvancedSearch.ts
  frontend/src/utils/date.ts
  测试体系-快速参考卡.md
  测试体系建设完成报告.md
  测试成果-可视化报告.md
  测试文档导航.md
  第1周测试体系建设-周报.md
Due: frontend

chore: 清理临时导出文件
  frontend/export_1760520770461.xlsx
  frontend/export_1760520770472.xlsx
  frontend/export_1760521585059.xlsx
  frontend/export_1760521585071.xlsx
  frontend/export_1760522198516.xlsx
  frontend/export_1760522198531.xlsx
  frontend/export_1760522798594.xlsx
  frontend/export_1760522798621.xlsx
  frontend/export_1760523583669.xlsx
  frontend/export_1760523583678.xlsx
  frontend/export_1760523668120.xlsx
  frontend/export_1760523668128.xlsx
  frontend/export_1760523697221.xlsx
  frontend/export_1760523697238.xlsx
Due: none

docs: 添加测试体系建设最终状态报告
  测试体系建设-最终状态报告.md
Due: none

feat: 完成8个高优先级TODO实现
  TODO实现完成报告.md
  src/main/java/com/archive/management/controller/BorrowController.java
  src/main/java/com/archive/management/service/BorrowService.java
  src/main/java/com/archive/management/service/impl/BorrowServiceImpl.java
  src/main/java/com/archive/management/service/impl/PermissionServiceImpl.java
Due: backend

完成所有TODO任务实现
  src/main/java/com/archive/management/controller/ExportController.java
  src/main/java/com/archive/management/mq/listener/ArchiveMessageListener.java
  src/main/java/com/archive/management/service/impl/DepartmentServiceImpl.java
  src/main/java/com/archive/management/service/impl/ExportTaskServiceImpl.java
  src/main/java/com/archive/management/service/impl/LoginLogServiceImpl.java
  src/main/java/com/archive/management/service/impl/NotificationServiceImpl.java
  src/main/java/com/archive/management/service/impl/RoleServiceImpl.java
  src/main/java/com/archive/management/util/AuditLogUtil.java
Due: backend

fix: 修复安全隐患，添加部署文档
  TODO任务完成-最终报告.md
  env.example
  src/main/resources/application.yml
  部署就绪检查报告.md
  部署指南.md
Due: none

docs: 添加安全修复完成报告
  安全修复完成报告.md
Due: none

test: 完成后端代码质量验证
  后端测试完成报告.md
Due: none

build: 配置Spring Boot主类
  pom.xml
Due: none

docs: 添加Git推送完成报告
  Git推送完成报告.md
Due: none
